@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: black;
    font-family: "Bebas Neue", cursive;
    color: white;
  }
.cointainer{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url(img/bg3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 35px;
    color: white;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 22px;
    padding: 20px;
    color: white;
    display: block;
}
.menu .navbar ul li a:hover {
    color: #ff2f2b;
}
#menu{
    display: none;
}
.menu-icono {
    width: 25px;
}
.menu label {
    cursor: pointer;
    display: none;
}
.header-content {
    display: flex;
    width: 100%;
}
.header-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: flex-end;
}